<nav class="navbar navbar-expand-lg justify-content-between " id="navbar-principale" layout:fragment="navbar">

    <div layout:fragment="navbar-left">
        <div class="navbar-brand">
            <a th:href="@{/}"> <img class="w-30" th:src="@{~/image/logo/Solo_libro.png}" style="width: 30%;"> </a>
        </div>
    </div>

    <div class="mx-auto">
        <div layout:fragment="navbar-center">
            <img th:src="@{~/image/logo/Solo_testo.png}" style="width: 30%;">
        </div>
    </div>


    <div class="d-flex ml-auto">
        <div layout:fragment="navbar-right">


            <div class="dropdown" th:if="${session.loggedUser != null && session.loggedUser.email != null}">
                <button class="btn btn-main dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Area Utente
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" type="submit" th:href="@{/area-utente}">Area Utente</a></li>
                    <li><a class="dropdown-item" href="/autenticazione/logout">Logout</a></li>
                </ul>
            </div>

            <div th:unless="${session.loggedUser != null && session.loggedUser.email != null}">
                <a class="btn btn-main" type="submit" th:href="@{/registrazione/}">Registrati</a>
                <a class="btn btn-main" type="submit" th:href="@{/autenticazione}">Accedi</a>
            </div>

        </div>
    </div>

</nav>