<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/common}">
<body layout:fragment="pagina" class="pagina">
<!-- Normalmente non dovrebbe esserci bisogno di riscrivere questo fragment. È qui 
     per permettere la sostituzione del contenuto della navbar. -->
    <div layout:insert="~{layout/includes/navbar :: navbar}"></div>
    <div class="contenuto-pagina">
        <div layout:fragment="contenuto-pagina">
            <p>Contenuto della pagina</p>
        </div>
    </div>
</body>