<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" th:src="@{/js/preferenzeDiLettura/gestioneGeneri.js}"></script>

    <title>Inserisci i tuoi generi preferiti!</title>

</head>
<body>

    <div layout:fragment="contenuto-pagina">

            <div class="column sx">
                <select id="select_generi">
                    <option th:each="genere: ${generi}" th:value="${genere.nome}" th:text="${genere.nome}"></option>
                </select>
                <input type="button" value="Aggiungimi" onclick="aggiungiGenere()">
            </div>

            <div class="column dx">
                <form id="form_generi" th:action="@{/preferenze-di-lettura/modifica-generi}" method="post">
                <table>

                    <tbody id="utente_generi">

                        <tr>
                            <th>Generi utente</th>
                        </tr>

                        <tr th:each="genereUtente : ${generiUtente}" th:class="${genereUtente.nome}">

                            <td th:text="${genereUtente.nome}" th:name="genere" th:value="${genereUtente.nome}"></td>
                            <td><input type="button" value="Rimuovi" th:name="${genereUtente.nome}" onclick="rimuoviGenere(this)"> </td>

                        </tr>

                    </tbody>
                </table>
                    <input type="submit" value="Procedi" onclick="generi()">
                </form>



            </div>



    </div>

</body>
</html>
