.container {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    padding: 2%;
}

.column {
    float: left;
    width: 50%;
    padding: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.modifica {
    background-color: #b20909;
    border: none;
    margin-top: 2%;
    color: white;
}

.modifica:hover {
    background-color: #790505;
    color: white;
}