.switch-header {
    background-color: #073763;
    border: 2px solid #073763;
}

.switch-title {
    color: white;
    text-align: center;
    font-weight: bold;
}

.switch-title:hover {
    color: #b20909;
}

.form-container {
    border: 2px solid #b20909;
    background-color: #f5f5f5;
}