.bold-text {
    font-weight: bold;
}

.card-content {
    margin-top:2%;
}

.row-scrollable-panels {
    height: 80vh;
    margin-top:2%;
}

.scrollable-column {
    height: 100%;
    overflow-y: scroll;
    margin-left: 1%;
    margin-right: 1%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    -ms-overflow-style: none !important;
}

.column-fixed-title {
    width: 100%;
    position: relative;
    margin-bottom: 4%;
}

.ticket-blue-section {
    background-color: #073763;
    color: white;
    font-size: 18px;
    border : 2px solid #073763;
}

.red-button {
    background-color: #b20909;
    color: #f5f5f5;
}

.border-blue {
    border : 2px solid #073763;
}
