#navbar-principale {
    height: 4em;
    background-color: #073763;
    padding-left: 2.5%;
    padding-right: 2.5%;
    color: #ffffff;
}

.pagina {
    background-color: #f5f5f5;
}

.contenuto-pagina {
    width: 95%;
    margin: auto;
    margin-top: 1%;
}

.btn-main {
    background-color: #b20909;
    color: #ffffff;
    border-radius: 0 !important;
}

a:hover {
    cursor: pointer;
}

a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:active, a:hover {
    color: #f5f5f5;
    text-decoration: none;
}

.twitter-typeahead {
    width: 100%;
}

.tt-suggestion {
    background-color: white;
    text-align: left;
}

.tt-hint {
    display: none;
}