<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="contenuto-pagina">
    <div class="container">
        <div class="row">

            <div class="col">
                <a href="/club-del-libro/"><img
                        th:src="@{~/image/home/Club_del_libro.jpeg}"></a>

                <p>Clicca sull'immagine per visualizzare i club del libro
                    ed unirti a milioni di lettori che condividono
                    i tuoi stessi interessi.</p>
            </div>

            <div class="col">
                <a href="/visualizza-biblioteche/"><img
                        th:src="@{~/image/home/Biblioteche.jpg}">
                </a>

                <p>Clicca sull'immagine per visualizzare le biblioteche
                    che più ti possono interessare.</p>
            </div>

            <div class="col">
                <a href="/visualizza-esperti/"><img
                        th:src="@{~/image/home/Esperti.jpg}">
                </a>

                <p>Clicca sull'immagine per visualizzare gli esperti
                    ed interagire con loro per farti consigliare i
                    libri più adatti a te.</p>
            </div>
            <div class="col">
                <a href="/prenotazione-libri/"><img
                        th:src="@{~/image/home/Prenotazione_libri.jpg}">
                </a>

                <p>Clicca sull'immagine per prenotare i libri che desider
                    senza doverti muovere di casa
                    (tranne che per andarli a prendere).</p>
            </div>

        </div>

    </div>
</div>
</body>
</html>