<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifica Dati Account Esperto</title>
</head>
<body>
<form method="post" action="conferma-modifica-esperto">
    <fieldset>
        <legend>Modifica Dati</legend>
        <p> Email <input type="email" name="email" th:value="${esperto.getEmail()}" readonly> </p>
        <p> Nome <input type="input" name="nome" th:value="${esperto.getNome()}"> </p>
        <p> Cognome <input type="input" name="cognome" th:value="${esperto.getCognome()}"> </p>
        <p> Username <input type="input" name="username" th:value="${esperto.getUsername()}"> </p>
        <p> Provincia <input type="input" name="provincia" th:value="${esperto.getProvincia()}"> </p>
        <p> Città <input type="input" name="citta" th:value="${esperto.getCitta()}"> </p>
        <p> Via <input type="input" name="via" th:value="${esperto.getVia()}"> </p>
        <p> Recapito Telefonico <input type="tel" name="recapitoTelefonico" th:value="${esperto.getRecapitoTelefonico()}"> </p>
        <p> Email Biblioteca <input type="email" name="email_biblioteca" th:value="${esperto.getBiblioteca.getEmail()}"> </p>

        <!--<p th:each="genere : ${esperto.generi}">
            <input type="text" th:value="${genere.nome}" name="generi" />
        </p>-->
    </fieldset>

    <fieldset>
        <legend>Modifica Password</legend>
        <p> Vecchia Password <input type="password" name="vecchia_password"> </p>
        <p> Nuova Password <input type="password" name="nuova_password"> </p>
        <p> Conferma Nuova Password <input type="password" name="conferma_password"> </p>
    </fieldset>
    <p> <input type="submit" value="Conferma la modifica"></p>

</form>


</body>
</html>