<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Prenota libro</title>
</head>

<body>
    <h2>Biblioteche che hanno <span th:text="${libro.titolo}"></span>: </h2>
    <table>
        <tr th:each="biblioteca : ${lista}">
            <td th:text="${biblioteca.nomeBiblioteca}"></td>
            <td>
                <form method="post" action="/prenotazione-libri/conferma-prenotazione">
                    <input type="hidden" name="idBiblioteca" th:value="${biblioteca.email}">
                    <input type="hidden" name="idLibro" th:value="${libro.idLibro}">
                    <button type="submit">Prenota</button>
                </form>
            </td>
        </tr>
    </table>


</body>
</html>