<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Registrazione</title>
</head>
<body>
<div layout:fragment="contenuto-pagina">
    <div class="container">
        <form th:action="@{/registrazione/scegli}" method="post">
        <div class="row">

                <div class="col">
                    <button type="submit" value="Lettore" name="scelta"><img
                            th:src="@{../static/image/registrazione/Lettore.jpeg}"></button>

                    <p>Ciao! Clicca qui se sei un lettore.</p>
                </div>

                <div class="col">
                    <button type="submit" value="Esperto" name="scelta"><img
                            th:src="@{../static/image/registrazione/Esperto.jpg}">
                    </button>

                    <p>Ciao! Clicca qui se sei un esperto.</p>
                </div>

                <div class="col">
                    <button type="submit" value="Biblioteca" name="scelta"><img
                            th:src="@{../static/image/registrazione/Biblioteca.jpg}">
                    </button>

                    <p>Ciao! Clicca qui se sei una biblioteca.</p>
                </div>

        </div>
        </form>

    </div>
</div>
</body>
</html>