<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Libri prenotabili</title>
</head>
<body>
    <h2>Ricerca per titolo</h2>
    <form method="get" action="/prenotazione-libri/ricerca-titolo">
        <input type="text" name="titolo">
        <input type="submit">
    </form>

    <div layout:fragment="contenuto-pagina" class="container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Titolo</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Biblioteca</th>
                    <th scope="col">Numero Copie</th>
                    <th scope="col">Prenotalo</th>
                </tr>
            </thead>
            <thbody>
                <tr th:each="libro : ${listaLibri}">
                    <th th:text="${libro.titolo}" scope="row"></th>
                    <td th:each="genere : ${libro.generi}" th:text="${genere.nome}"></td>
                    <td th:each="possesso : ${libro.possessi}" th:text="${possesso.possessoID.bibliotecaID}"></td>
                    <td th:each="possesso : ${libro.possessi}" th:text="${possesso.numeroCopie}"></td>
                    <td>
                        <form method="post" th:action="@{'/prenotazione-libri/' + ${libro.idLibro} + '/prenota-libro'}">
                            <div th:if="${session.loggedUser != null}">
                                <button type="submit">Prenota</button>
                            </div>
                            <div th:unless="${session.loggedUser != null}">
                                <button type="submit" disabled>Prenota</button>
                            </div>
                        </form>
                    </td>
                </tr>
            </thbody>
        </table>
    </div>
</body>
</html>