<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Visualizza richieste</title>
</head>
<body>
    <div layout:fragment="contenuto-pagina">
        <table>
            <tr th:each="ticket : ${listaTicket}">
                <td th:text="${ticket.idTicket}"></td>
                <td th:text="${ticket.libro.titolo}"></td>
                <td th:text="${ticket.dataRichiesta.dayOfMonth + '/' + ticket.dataRichiesta.monthValue + '/' + ticket.dataRichiesta.year
                    + ' ' +  ticket.dataRichiesta.hour + ':' + ticket.dataRichiesta.minute}"> </td>
                <td th:text=" ${ticket.lettore.nome + ' ' + ticket.lettore.cognome}"></td>
            </tr>
        </table>
    </div>
</body>
</html>