<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <td>Nome club</td>
            <td>Descrizione</td>
            <td>Esperto</td>
        </tr>
        <tr th:each="club : ${listaClubs}">
            <td th:text="${club.nome}"></td>
            <td th:text="${club.descrizione}"></td>
            <td th:text="${club.generi}"></td>
            <td th:text="${club.esperto.nome}"></td>
        </tr>
    </table>

    <form method="post" action="/club-del-libro/crea" >
        <p> Nome <input type="input" name="nome"> </p>
        <p> Descrizione <input type="input" name="descrizione"> </p>
        <p><input type="submit"></p>
    </form>
</body>
</html>