<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Modifica un Evento</title>
    <script th:src="@{/js/lib/typeahead.bundle.min.js}"></script>
    <script th:src="@{/js/clubDelLibro/evento-form.js}" defer></script>
</head>
<body>

    <div layout:fragment="contenuto-pagina">
        <h1 th:text="'Modifica dell\'evento ' + ${evento.nome}"></h1>
        <div 
            layout:insert=
                "~{/club-del-libro/_evento-form::form-evento(
                        action=@{/club-del-libro/{idClub}/eventi/{idEvento}/modifica(idClub=${club.idClub},idEvento=${id})}
                    )}"
        />

    </div>
</body>
</html>