<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Lista Club del libro</title>
    <script type="text/javascript" th:src="@{/js/clubDelLibro/creazioneClubDelLibroScripts.js}"></script>
</head>
<body>
<div layout:fragment="contenuto-pagina" class="container">
    <table class="table" style="border-color: #b20909">
        <tr>
            <th scope="col">Nome club</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Generi</th>
            <th scope="col">Copertina</th>
            <th scope="col">Esperto</th>
        </tr>
        <tr th:each="club : ${listaClubs}">
            <td th:text="${club.nome}"></td>
            <td th:text="${club.descrizione}"></td>
            <td><p th:each="genere : ${club.generi}" th:text="${genere.nome}"></p></td>
            <td><img th:src="@{'data:image/png;base64,'+ ${club.immagineCopertina}}"/></td>
            <td th:text="${club.esperto.nome}"></td>
            <td><a th:href="@{'/club-del-libro/modifica-dati/' + ${club.idClub}}">Modifica (Esperto) </a></td>
            <td><a th:href="@{'/club-del-libro/iscrizione-club/' + ${club.idClub}}">Iscrivimi (Lettore) </a></td>
            <td>
                <button class="btn btn-main "><a th:href="@{'/club-del-libro/visualizza-dati-club/' + ${club.idClub}}">Visualizza </a>
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>