<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Modifica Dati Account Lettore</title>
</head>

<body id="page-top">
<div layout:fragment="contenuto-pagina">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid" style="width: 1920px;">
                    <h3 class="text-dark mb-4">Modifica Dati</h3>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <form method="post" th:action="@{/conferma-modifica-lettore}">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Dati di base</p>
                                        </div>
                                        <div class="card-body">

                                            <div class="form-row">
                                                <div class="col">
                                                    <div class="form-group"><label><strong>Username</strong></label><input class="form-control" th:value="${lettore.getUsername()}" type="text" placeholder="user.name" name="username"></div>
                                                </div>
                                                <div class="col">
                                                    <div class="form-group"><label><strong>Email</strong></label><input class="form-control" type="email" name="email" th:value="${lettore.getEmail()}" readonly></div>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Nome</strong><br></label><input class="form-control" type="text" placeholder="John" name="nome" th:value="${lettore.getNome()}"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Cognome</strong><br></label><input class="form-control" type="text" placeholder="Doe" name="cognome" th:value="${lettore.getCognome()}"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 font-weight-bold">Modifica Password</p>
                                                </div>
                                                <div class="card-body">

                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Vecchia Password</strong><br></label><input class="form-control" type="password" placeholder="password" name="vecchia_password"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Nuova Password</strong><br></label><input class="form-control" type="password" placeholder="password" name="nuova_password"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Conferma Nuova Password</strong><br></label><input class="form-control" type="password" placeholder="password" name="conferma_password"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="card shadow">
                                                <div class="card-header py-3">
                                                    <p class="text-primary m-0 font-weight-bold">Informazioni di contatto</p>
                                                </div>
                                                <div class="card-body">

                                                    <div class="form-group"><label><strong>Via</strong></label><input class="form-control" type="text" placeholder="Via Giovanni Paolo II" name="via" th:value="${lettore.getVia()}"></div>
                                                    <div class="form-row">
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Città</strong></label><input class="form-control" type="text" placeholder="Poggioreale" name="citta" th:value="${lettore.getCitta()}"></div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group"><label><strong>Provincia</strong></label><input class="form-control" type="text" placeholder="Napoli" name="provincia" th:value="${lettore.getProvincia()}"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group"><label ><strong>Recapito Telefonico</strong><br></label><input class="form-control" type="tel" placeholder="333123456789" name="recapitoTelefonico" th:value="${lettore.getRecapitoTelefonico()}"></div>
                                                    <div class="form-group"><input class="btn btn-main" type="submit" value="Conferma modifica"></div>

                                                </div>
                                            </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow mb-5"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>