<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Le tue iscrizioni ai Clubs</title>
</head>
<body>
<div layout:fragment="contenuto-pagina" class="container">
    <div class="row">
        <h3 class="text-dark mb-4 text-center">Clubs a cui sei iscritto</h3>
        <div class="col-11">
            <table class="table sortable">
                <thead>
                <th scope="col" class="align-content-center">Nome</th>
                <th scope="col" class="align-content-center">Descrizione</th>
                <th scope="col" class="align-content-center">Esperto</th>
                <th scope="col" class="align-content-center">Azione</th>
                </thead>


                <tbody>
                <tr th:each="club : ${clubs}">
                    <td th:text="${club.nome}"></td>
                    <td th:text="${club.descrizione}"></td>
                    <td th:text="${club.esperto.nome}"></td>
                    <td><a class="btn btn-main" th:href="${'/club-del-libro/' + club.idClub}" type="button">Visualizza dettagli Club</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>