<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" type="text/css" href="../../style/area-utente.css">
    <link rel="stylesheet" type="text/css" href="../../style/style.css">
    <meta charset="UTF-8">
    <title>Area Esperto</title>
</head>
<body>
<div layout:fragment="contenuto-pagina">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="height: 605px;">
                <div class="container-fluid">
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body shadow text-center">
                                    <h3 class="text-dark mb-4">Benvenuto
                                        <td th:text="${biblioteca.getNomeBiblioteca()}"></td>
                                    </h3>
                                    <div class="text-center d-xl-flex justify-content-xl-center align-items-xl-center mb-3">
                                        <picture><img class="border rounded-circle d-xl-flex justify-content-xl-center" th:src="@{~/image/area-utente/user.png}"></picture>
                                    </div>
                                        <div class="mb-3">
                                            <a class="btn btn-main" href="/modifica-dati" type="button">Modifica Dati Account</a>
                                        </div>
                                        <div class="mb-3">
                                            <a class="btn btn-main" type="button">Visualizza Lista Tickets</a>
                                        </div>
                                        <div class="mb-3">
                                            <a class="btn btn-main" type="button">Visualizza Libri Posseduti</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <h3 class="text-dark mb-4">Informazioni account</h3>
                                            <div class="row">
                                                <div class=" col-md-9 col-lg-9 ">
                                                    <table class="table table-user-information">
                                                        <tbody>
                                                        <tr>
                                                            <th>Nome Biblioteca:</th>
                                                            <td th:text="${biblioteca.getNomeBiblioteca()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Email:</th>
                                                            <td th:text="${biblioteca.getEmail()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Provincia:</th>
                                                            <td th:text="${biblioteca.getProvincia()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Cittá:</th>
                                                            <td th:text="${biblioteca.getCitta()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Via:</th>
                                                            <td th:text="${biblioteca.getVia()}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Recapito Telefonico:</th>
                                                            <td th:text="${biblioteca.getRecapitoTelefonico()}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>