<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Inserimento nuovo libro</title>
</head>
<body>
<div layout:fragment="contenuto-pagina" class="container">
    <div>
        <form method="post" action="/biblioteca/inserimento-isbn">
            <input type="text" name="isbn">
            <input type="text" name="generi">
            <input type="number" name="numCopie" value="1" min="1">
            <input type="submit" value="Conferma">
        </form>
    </div>

    <br><br>
    <div>
        <form method="post" action="/biblioteca/inserimento-archivio">
            <select name="idLibro" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" style="width: 60%">
                <th th:each="libro : ${listaLibri}">
                    <option th:text="${libro.titolo +', '+libro.autore}" th:value="${libro.idLibro}"></option>
                </th>
            </select>
            <input type="number" name="numCopie" value="1" min="1">
            <input type="submit" value="Conferma">
        </form>
    </div>
    <br><br>
    <div>
        <form th:object="${libro}" method = "post" enctype="multipart/form-data" action="/biblioteca/inserimento-manuale">
            <input type="text" name="titolo" placeholder="Titolo" required>
            <input type="text" name="isbn" placeholder="ISBN">
            <input type="text" name="autore" placeholder="Autore" required>
            <input type="text" name="descrizione" placeholder="Descrizione">
            <input type="text" name="casaEditrice" placeholder="Casa Editrice" required>
            <input type="text" name="annoPubblicazione" placeholder="Anno di pubblicazione" required>
            <input type="file" name="immagineLibro" accept="image/png, image/jpeg" >
            <select multiple name="generi">
                <option th:each="g : ${listaGeneri}" th:value="${g.nome}" th:text="${g.nome}"></option>
            </select>
            <input type="number" name="numCopie" value="1" min="1">
            <input type="submit" value="Conferma">
        </form>
    </div>
</div>
</body>
</html>
