<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Lista Biblioteche</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div layout:fragment="contenuto-pagina" class="container">
        <form method="get" action="/biblioteca/ricerca">
            <h2>Ricerca</h2>
            <div class="input-group mb-3" style="width:40%;">
                <input class="form-control" type="text" name="stringa">
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" style="background-color: #b20909; color:white" type="submit"
                           value="Cerca">
                </div>
            </div>
            <div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filtro" id="nome" value="nome" checked>
                    <label class="form-check-label" for="nome">Cerca per nome</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="filtro" id="citta" value="citta">
                    <label class="form-check-label" for="citta">Cerca per città</label>
                </div>
            </div>
        </form>
        <table class="table" style="border-color:#b20909; margin-top:2%">
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Città</th>
                <th scope="col">Indirizzo</th>
                <th scope="col">Visualizza</th>
            </tr>
            <tr th:each="biblioteca : ${listaBiblioteche}">
                <th th:text="${biblioteca.nomeBiblioteca}" scope="row"></th>
                <th th:text="${biblioteca.email}" scope="row"></th>
                <th th:text="${biblioteca.citta}" scope="row"></th>
                <th th:text="${biblioteca.via}" scope="row"></th>
                <td>
                    <form method="get" th:action="@{'/biblioteca/' + ${biblioteca.email}}">
                    <div>
                        <button type="submit" style="border:none;width: 80%;background-color:white">
                            <i class="fa fa-search" style="color:#b20909"></i>
                        </button>
                    </div>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
